<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
    
    <div class="card">
        <h2>Admin Login</h2>
        <p>Log in as an admin user.</p>
        <button class="card-button" onclick="window.location.href='/adminlogin'">Admin Login</button>
      </div>
      <div class="card">
        <h2>User Login</h2>
        <p>Log in as a regular user.</p>
        <button  class="card-button" onclick="window.location.href='/userlogin';">User Login</button>
      </div>
      
</body>
</html>